---
import BaseSection from "../BaseSection.astro"
---

  <BaseSection title="Sobre mi">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ducimus quaerat est vero cupiditate corporis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore similique, perferendis a rem iure id.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium eaque eveniet quas, optio cumque obcaecati.</p>
  </BaseSection>

<style>
    section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  aside {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>