---
const {title} = Astro.props
---

<section>
    <h3>{title}</h3>
    <aside>
        <slot name="map-content"/>
    </aside>
</section>



<style>
section {
    --pd-title: 1.75rem;
    position: relative;
  }

  h3 {
    display: inline-block;
    padding: var(--pd-title);
    border-radius: 3rem 3rem 12px 12px;
    font-size: 2rem;
    background-color: var(--secondary-l);
    color: var(--primary-l);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  aside {
    padding-block: calc(var(--pd-title) * 2 + 1rem);
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
</style>