---
import skillsJson from "../data/data.json";
import Icon from "./Icon.astro";

const props = Astro.props;
---

<article class="grid">
  <div class="item double-row">
    <span>
      <Icon
        iconName="HTML"
        width="2.5rem"
        fill="var(--primary-l)"
        color="var(--secondary-l)"
      />HTML
    </span>
    <span>
      <Icon
        iconName="CSS"
        width="2.5rem"
        fill="var(--primary-l)"
        color="var(--secondary-l)"
      />CSS
    </span>
  </div>
  <div class="item">2</div>
  <div class="item double-column">3</div>
  <h3 class="title item double">Frontend</h3>
  <div class="item">5</div>
  <div class="item">6</div>
  <div class="item double-row">7</div>
  <div class="item double-column">8</div>
  <div class="item">9</div>
</article>

<style>
    .title {
        font-size: 2rem;
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    place-items: center;
    grid-auto-rows: 100px;
    gap: 0.25rem;
  }
  .item {
    width: 100%;
    height: 100%;
    border-radius: 0.33rem;
    background-color: var(--secondary-d);
    color: var(--primary-l);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .double-row span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .double-row {
    grid-row: span 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    mix-blend-mode: lighten;
  }
  .double-column {
    grid-column: span 2;
  }
  .double {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    background-color: var(--accent-l);
  }
</style>
