<header class="fixed-header">
  <a href="#" class="logo-container">
    <svg
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M5 12l-2 0l9 -9l9 9l-2 0"></path><path
        d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path
        d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
    </svg>
  </a>
  <nav class="navigation-links">
    <a href="#">Home</a>
    <a href="#">Proyectos</a>
    <a href="#">Habilidades</a>
    <a href="#">Sobre mi</a>
  </nav>
  <aside class="social-media-links">
    <a href="#">
      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 256 256">
        <path
          d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
        ></path></svg
      >
    </a>

    <a href="#">
      <svg
        viewBox="0 0 256 250"
        fill="currentColor"
        preserveAspectRatio="xMidYMid"
        ><path
          d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z"
        ></path></svg
      >
    </a>

    <a href="#">
      <svg viewBox="0 0 512 512">
        <g>
          <polygon class="st0" points="512,386.058 512,147.816 375.36,266.942 	"
          ></polygon>
          <path
            class="st0"
            d="M432.466,0H79.534C35.612,0,0,35.611,0,79.534v2.33l227.884,198.67c8.117,7.048,18.04,10.524,28.116,10.534
		c10.078-0.01,20.02-3.486,28.117-10.534L512,81.864v-2.33C512,35.611,476.389,0,432.466,0z"
          ></path>
          <path
            class="st0"
            d="M316.777,318.01c-17.359,15.155-39.146,22.786-60.777,22.768c-21.63,0.019-43.398-7.621-60.776-22.768
		l-20.757-18.097L2.059,450.214C10.137,485.583,41.728,512,79.534,512h352.932c37.826,0,69.398-26.417,77.476-61.786
		L337.534,299.913L316.777,318.01z"
          ></path>
          <polygon class="st0" points="0,147.816 0,386.058 136.642,266.932 	"
          ></polygon>
        </g>
      </svg>
    </a>
  </aside>
  <span class="navigation-menu-icon">
    <svg
      class="hamburger"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M4 6h16"></path><path d="M7 12h13"></path><path d="M10 18h10"></path>
    </svg>
    <svg class="cross" viewBox="0 0 32 32">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16ZM13.172 11.7574C12.7814 11.3668 12.1483 11.3668 11.7577 11.7574C11.3672 12.1479 11.3672 12.7811 11.7577 13.1716L14.5862 16L11.7577 18.8284C11.3672 19.219 11.3672 19.8521 11.7577 20.2427C12.1483 20.6332 12.7814 20.6332 13.172 20.2427L16.0004 17.4142L18.8288 20.2427C19.2193 20.6332 19.8525 20.6332 20.243 20.2427C20.6335 19.8521 20.6335 19.219 20.243 18.8284L17.4146 16L20.243 13.1716C20.6336 12.7811 20.6336 12.1479 20.243 11.7574C19.8525 11.3668 19.2193 11.3668 18.8288 11.7574L16.0004 14.5858L13.172 11.7574Z"
      ></path>
    </svg>
  </span>
  <aside class="navigation-menu">
    <nav class="navigation-menu-links">
      <a href="#">Home</a>
      <a href="#">Proyectos</a>
      <a href="#">Habilidades</a>
      <a href="#">Sobre mi</a>
    </nav>
  </aside>
</header>

<style>
  /* HEADER STYLES */

  .navigation-menu-icon {
    display: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
  }
  .navigation-menu-icon svg {
    width: 36px;
    height: 36px;
    fill: var(--secondary-d);
    pointer-events: none;
  }

  .fixed-header {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    position: fixed;
    width: 100%;
    padding-block: 16px;
    z-index: 1;
  }

  .logo-container {
    height: 36px;
  }
  .logo-container svg {
    width: 36px;
    height: 36px;
    stroke: var(--secondary-l);
  }

  .navigation-links {
    display: flex;
    gap: 24px;
  }
  .navigation-links a {
    color: var(--secondary-d);
    font-weight: 600;
  }

  .social-media-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .social-media-links a {
    height: 36px;
  }
  .social-media-links svg {
    fill: var(--secondary-l);
    width: 36px;
    height: 36px;
  }

  .navigation-menu {
    --padding-menu: 32px;
    --height-size-menu: 36px;
    --space: calc(var(--padding-menu) + var(--height-size-menu));
    position: fixed;
    z-index: 100;
    background-color: var(--primary-d);
    width: 100%;
    inset: 0;
    margin-top: calc(var(--space));
    clip-path: circle(0% at top left);
    transition: clip-path 500ms ease;
  }

  .navigation-menu-links {
    display: flex;
    flex-direction: column;
  }
  .navigation-menu-links a {
    text-align: center;
    padding-block: 32px;
    font-size: 24pt;
    color: var(--secondary-d);
    font-weight: 600;
  }

  @media (max-width: 770px) {
    .navigation-links {
      display: none;
    }

    .fixed-header {
      justify-content: space-between;
    }

    .navigation-menu-icon {
      display: inline;
    }

    .navigation-menu-icon.menu-open .hamburger {
      display: none;
    }
    .navigation-menu-icon .cross {
      display: none;
    }
    .navigation-menu-icon.menu-open .cross {
      display: inline;
    }

    .navigation-menu-icon.menu-open ~ .navigation-menu {
      clip-path: circle(150% at top left);
    }

    .social-media-links a:last-child {
      display: inline;
    }
  }
</style>

<script>
  document.querySelector(".fixed-header").addEventListener("click", (e) => {
    let isNavIcon = e.target.classList[0] === "navigation-menu-icon";

    if (isNavIcon) {
      e.target.classList.toggle("menu-open");
    } else if (e.target.nodeName === "A")
      document
        .querySelector(".navigation-menu-icon")
        .classList.toggle("menu-open");
  });
</script>
