---
import Icon from "./Icon.astro";

const { iconName = 'CSS', color, fill, width } = Astro.props;

---

<span class={"default-bg"}>
    <Icon {iconName} {fill} {color} {width}/>
    <slot/>
</span>


<style>
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border-radius: 0.75rem;
        padding: 0.38rem;
        font-size: 0.8rem;
        font-weight: 500;
        text-wrap: nowrap;
    }
    .default-bg {
        background-color: var(--accent-d);
    }
    .HTML {background-color: hsl(18, 85%, 55%);}
    .CSS {background-color: #31A9DD;}
    .JavaScript {background-color: #F1DB4E}
    .React {background-color: #00D9FE;}
    .Astro {background-color: #FFFEFE;}
    .NodeJS {background-color: #539F42;}
    .ExpressJS {background-color: #FFFEFE;}
    .Git {background-color: #DE4D37;}
    .Trello {background-color: #017DCC;}
    
</style>